<footer class="row justify-content-around">
  <div class="col-4">

  <h3>Additional Infomation</h3>
  {{!-- <ul> --}}
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Fitness Blog</a></li>
    <li><a href="/trainers">Sign up as a trainer</a></li>
  </div>
  <div class="col-4">

  </div>
  {{!-- </ul> --}}
</footer>
