<footer>
  <div class="footer">

  <h3>Additional Infomation</h3>
  {{!-- <ul> --}}
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Terms of Use</a></li>
    <li><a href="#">Fitness Blog</a></li>
    <li><a href="/trainers">Sign up as a trainer</a></li>
  </div>
  <div class="">

  </div>
  {{!-- </ul> --}}
</footer>


{{!-- <footer>
  <p class="pull-right"><a href="#">Back to top</a></p>
  <p>This Bootstrap layout is compliments of Bootply. · <a href="http://www.bootply.com/62603">Edit on Bootply.com</a></p>
</footer> --}}
