<!DOCTYPE html>
<html lang="en">

<head>
  <title>PersonlTrainr</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{> navbar }}
<div class="container">

  {{{ body }}}

</div>
{{> footer }}

  <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API}}">
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/script.js" charset="utf-8"></script>
</body>


</html>
