<!DOCTYPE html>
<html lang="en">

<head>
  <title>project-2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">

  <h1><a href="/">PersonlTrainr</a></h1>

  {{{ body }}}

  <footer>
    <h3>Additional Infomation</h3>
    {{!-- <ul> --}}
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Terms of Use</a></li>
      <li><a href="#">Fitness Blog</a></li>
      <li><a href="/trainers">Sign up as a trainer</a></li>
    {{!-- </ul> --}}
  </footer>
</div>

  <script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API}}">
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="/js/script.js" charset="utf-8"></script>
</body>


</html>
