{{#each users as |user|}}
<a href="/users/profile">Back to user page</a>

{{/each}}

  <form id="findlocation" action="index.html" method="post">
    <label>
      Search
      <input type="text" name="location" placeholder="Search location">
    </label>

    <button>Search now</button>
  </form>
