<form id="findlocation" action="index.html" method="post">
  <label>search for trainers around your location
    <input type="text" name="location" placeholder="Search location">
  </label>

  <button>Search now</button>
</form>
