
<h2>login page</h2>

<form id="login" action="" method="post">

  <div class="form-grp">
    <label>
      Email:
      <input type="text" name="" placeholder="Input name">
    </label>
  </div>

  <div class="form-grp">
    <label>
      Password:
      <input type="text" name="" placeholder="Input name">
    </label>
  </div>

  <button>Login </button>

</form>
