<a href="/login">Client Login</a>

<h2>Sign up as a client</h2>

<form id="newUserForm" action="/users" method="post">
  <div class="form-grp">
    <label>
      Name:
      <input type="text" name="user[name]" placeholder="Subit your name">
    </label>
  </div>

  <div class="form-grp">
    <label>
        Email:
        <input type="text" name="user[email]" placeholder="e.g. 123@hotmail.com">
      </label>
  </div>

  <div class="form-grp">
    <label>
      Password:
      <input type="text" name="user[password]" placeholder="Enter password">
    </label>
  </div>

  <div class="form-grp">
    <label>
      Preferred Location:
      <input type="text" name="user[location]" placeholder="Submit location">
    </label>
  </div>

  <button>Submit</button>
