
{{#each users as |user|}}
<a href="/users/{{user.id}}">Back to user page</a>
<h1>update page for {{user.name}}</h1>

{{/each}}
<form action="/users" method="post">
  <div>
    <label>Enter your password:</label>
    <input type="text" name="" placeholder="Input password">
  </div>
  <div>
    <label>Change your email:</label>
    <input type="text" name="" placeholder="Input password">
  </div>
  <div>
    <label>Height:</label>
    <input type="text" name="" placeholder="Update your height">
  </div>
  <div>
    <label>Weight:</label>
    <input type="text" name="" placeholder="Update your weight">
  </div>

  <button>Update Particulars</button>
</form>
