<h1>userpage</h1>

{{#if users}}
  {{#each users as |user|}}
    {{ user.name }}
    <a href="/logout">Logout</a>
  {{/each}}
  <a href="/users/update">Update particulars</a>
  <a href="/users/search">Search for a trainer</a>

{{/if}}
