<a href="/users/search">Search Again</a>

<div class="found">
  {{#if trainer}}
  <div id="map"></div>
    <h3>Search results by name</h3>
    {{#each trainer as |trainer|}}
      <ul>
        <li>
          {{trainer.name}} at {{trainer.location}}
        </li>
      </ul>
    {{/each}}
  {{/if}}
</div>
