<a href="/users/search">Search Again</a>

<div class="found">
  {{#if location}}
  <h3>Search results by location</h3>
    <ul>
      <li>
        {{location.name}} at {{location.location}}
      </li>
    </ul>
  {{/if}}
</div>
