<a href="/users/search">Search Again</a>

<div class="found">
  {{#if trainers}}
    <div id="map"></div>
    {{#each trainers as |trainers|}}
      <ul>
        <li>
          <div class="nameclass">
            Trainer's name : {{trainers.name}}
          </div>
          <div class="mapclass">
            Trainer's Location: <a href="#latlng">{{trainers.location}}</a>
          </div>
          <button>Hire this trainer</button>
        </li>
      </ul>
    {{/each}}
  {{/if}}
</div>
