<a href="/users/search">Search Again</a>

<div class="found">
  {{#if trainers}}
  <div id="map"></div>
    {{#each trainers as |trainers|}}
      <ul>
        <li>
          {{trainers.name}} at {{trainers.location}}
        </li>
      </ul>
    {{/each}}
  {{/if}}
</div>
