<a href="/users/search">Search Again</a>

<div class="found">
  {{#if trainer}}
  <h3>Search results by location</h3>
    <ul>
      <li>
        {{trainer.name}} at {{trainer.location}}
      </li>
    </ul>
  {{/if}}
</div>
