<h3>Update page for {{user.name}}</h3>

<form action="/users/update?_method=put" method="post">
  <div>
    <label>Update your password:</label>
    <input type="text" name="user[password]" placeholder="Input password">
  </div>

  <div>
    <label>Update your email:</label>
    <input type="text" name="user[email]" placeholder="Input password">
  </div>

  <div>
    <label>Update your preferred location:</label>
    <input type="text" name="user[location]" placeholder="Input location">
  </div>

  <div>
    <label>Height:</label>
    <input type="text" name="user[height]" placeholder="Update your height">
  </div>

  <div>
    <label>Weight:</label>
    <input type="text" name="user[weight]" placeholder="Update your weight">
  </div>

  <button>Update Account</button>
</form>
