  <h3>Find a trainer for {{user.name}}</h3>
  <a href="/users/profile">My profile page</a>
  <a href="/users/update">Update particulars</a>
  <a href="/logout">Logout</a>

<form id="findlocation" action="index.html" method="post">

  <label>
      Input search location
      <input type="text" name="location" placeholder="Search location">
    </label>

  <button>Search now</button>
</form>
