<h2>Client login page</h2>

<form id="login" action="/users/login" method="post">

  <div class="form-grp">
    <label>
      Email:
      <input type="text" name="user[email]" placeholder="e.g. 123@hotmail.com">
    </label>
  </div>

  <div class="form-grp">
    <label>
      Password:
      <input type="password" name="user[password]" placeholder="min 8 characters">
    </label>
  </div>

  <button class="btn btn-primary">Login</button>

</form>
