{{#if trainer}}
  <h2>You are currently signed in, {{trainer.name}}</h2>
  <a href="/trainers/profile">Back to profile</a>
  <a href="/logout">Logout</a>
{{/if}}


{{#unless trainer}}
  <a href="/trainers/login">Trainer Login</a>

  <h2>Sign up as a trainer</h2>

  <form id="newTrainerForm" action="/trainers" method="post">
    <div class="form-grp">
      <label>
      Name:
      <input type="text" name="trainer[name]" placeholder="Submit your name">
    </label>
    </div>

    <div class="form-grp">
      <label>
        Email:
        <input type="text" name="trainer[email]" placeholder="e.g. 123@hotmail.com">
      </label>
    </div>

    <div class="form-grp">
      <label>
      Password:
      <input type="text" name="trainer[password]" placeholder="Enter password">
    </label>
    </div>

    <div class="form-grp">
      <label>
      Preferred Location:
      <input type="text" name="trainer[location]" placeholder="Submit location">
    </label>
    </div>

    <button>Submit</button>

{{/unless}}
