<a href="/trainers/search">Search Again</a>

<div class="found">
  {{#if user}}
    <h3>Search results by location</h3>
    {{#each user as |user|}}
      <ul>
        <li>
          {{user.name}} at {{user.location}}
        </li>
      </ul>
    {{/each}}
  {{/if}}
</div>
