<h3>Find a client for {{trainer.name}}</h3>
<a href="/trainers/profile">My profile page</a>
<a href="/trainers/update">Update particulars</a>
<a href="/logout">Logout</a>

<form id="findlocation" action="index.html" method="post">

  <label>
      Input search location
      <input type="text" name="search[location]" placeholder="Search location">
    </label>

  <button>Search now</button>
</form>
