{{#each trainers as |trainer|}}
<a href="/trainers/profile">Back to trainer page</a>
<h3>Signed in as {{trainer.name}}</h3>
{{/each}}

  <form id="findlocation" action="index.html" method="post">

    <label>
      Search for a user near location
      <input type="text" name="location" placeholder="Search location">
    </label>

    <button>Search now</button>
  </form>
