<div class="container content-top">

  <h1>Welcome to {{trainer.name}}'s profile page</h1>

  <div class="">
    <a href="/trainers/update">Update particulars</a>
    <a href="/trainers/search">Search for a client</a>
    <a href="/logout">Logout</a>
  </div>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

  <form class="" action="/trainers/delete?_method=delete" method="post">
    <button type="submit">Delete account</button>
    <div>Warning: There's no turning back!</div>
  </form>
  </p>
</div>
