<h2> Trainer login page</h2>

<form id="login" action="/trainers/login" method="post">

  <div class="form-grp">
    <label>
      Email:
      <input type="text" name="trainer[email]" placeholder="e.g. 123@hotmail.com">
    </label>
  </div>

  <div class="form-grp">
    <label>
      Password:
      <input type="password" name="trainer[password]" placeholder="min 8 characters">
    </label>
  </div>

  <button class="btn btn-primary">Login</button>

</form>
