<h3>update page for {{trainer.name}}</h3>
<a href="/trainers/profile">Back to trainer page</a>
<a href="/trainers/search">Search for a client</a>
<a href="/logout">Logout</a>

<form action="/trainers/update?_method=put" method="post">
  <div>
    <label>Update your password:</label>
    <input type="text" name="" placeholder="Input password">
  </div>

  <div>
    <label>Update your email:</label>
    <input type="text" name="" placeholder="Input password">
  </div>

  <div>
    <label>Update your preferred location:</label>
    <input type="text" name="" placeholder="Input location">
  </div>


  <button>Update Account</button>
</form>
